  
<div class="aa">
    <ul class="aa-links">
       <li><a href=""> World</li>
        <li><a href=""> San Francisco</a></li>
        <li><a href="">New York</a></li>
        <li><a href="">Bootcamp Prep</li>
        <li><a href="">Jumpstart</a></li>
        <li><a href="">Online</a></li>
        <li><a href="">Marketing</a></li>
        <li><a href="">Sales</a></li>
        <li><a href="">TalentMatch</a></li>
        <li><a href="">Alumni</a></li>
        <li><a href="" id='all'>All</a></li>
    </ul>
</div>